$body-bg: #ffffff;
$body-color: #344966;
$primary: #b4cded;
$success: #bfcc94;
$danger: #eca18a;
$warning: #f9e5b8;
$info: #3068d7;
$dark: #0d1821;
@import "../node_modules/bootstrap/scss/bootstrap";
